


@model BugTracker.Models.UsersRolesViewModel
<div>
    <ul class="nav navbar-nav navbar-left">

        <!-- Sidebar Menu Trigger -->

        <li class="menu-icon">
            <a class="side-menu-trigger" href="#">
                <ul class="bar-icon-wrapper">
                    <li class="bar-icon"></li>
                    <li class="bar-icon"></li>
                    <li class="bar-icon"></li>

                </ul>
            </a>
        </li><!-- End of Sidebar Menu Trigger -->
        <!-- Account Dropdown -->

        <li class="nav-account dropdown">
            <a href="#"><img alt="img" class="profile-picture" src="~/images/team/man-test-2.jpg" /></a>
            <ul class="dropdown-menu">
                <li>
                 
                </li>
            
            </ul>
        </li><!-- End of Account Dropdown -->
        <!-- Messages Dropdown -->

      
        <li style="color:white">
            @if (Model.User.FirstName != null)
            {
                <span>Hello @Model.User.FirstName @Model.User.LastName&nbsp; - </span>
                foreach (var role in Model.Roles)
                {
                    if (role == "Submitter")
                    {
                        <span></span>
                    }
                    else
                    {
                       
                        @role<span>&nbsp;  &nbsp;</span>
                    }

                }
            }
            else
            {
                foreach (var role in Model.Roles)
                {
                    <span>
                        Hello &nbsp;
                        @if (role == "Submitter")
                        {
                            <span></span>
                        }
                        else
                        {

                            @role
                        }
                        &nbsp;&nbsp;
                    </span>


                }
            }

            @if (Request.IsAuthenticated)



            {

                var user = Model.User.Id;
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {

                    @Html.AntiForgeryToken()

                    <span style="color:white"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
                }
            }
        </li>



    </ul><!-- End of Left Aligned Icons -->
    <!-- Right Aligned Icons -->

  </div>


